<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th> Model </th>
        <th> Speed </th>
        <th> Color </th>
      </tr>
    </thead>
  <tbody>
    <tr th:each="car :${cars}">
      <td> <span th:text="${car.model}"> Model </span> </td>
      <td> <span th:text="${car.speed}"> Speed </span> </td>
      <td> <span th:text="${car.color}"> Color </span> </td>
    </tr>
  </tbody>
  </table>
</body>
</html>